body{
    margin: 0px;
    background-image: url(haha.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    animation-name: slideleft;
    animation-duration: 1s;
}
header{
    background-color: lightgrey;
    border-style: solid;
    animation-name: slideleft;
    animation-duration: 1s;
}
#navi ul{
    list-style: none;
    background-color: grey;
    padding:  10px;
    margin: 0;
    overflow: hidden;
}
#navi a{
    padding-left: 1150;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
#navi li{
    float: right;
}
#navi a:hover{
    background-color: rgb(75, 75, 75);
}
footer{
    background-color: grey;
    display: block;
    border: none;
    clear: both;
    padding: 25px;
    border-style: solid;
    animation-name: slideleft;
    animation-duration: 1s;
}
@media screen and (max-width:600px){
    aside,section,article{
        width: 100%;
    } 
}
h1{
    text-align: center;
}
@keyframes slideleft {
    from{transform: translateX(100%);}
}
#vid{
    float: left;
}
h2{
    color: brown;
}